<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>Contact Page</title>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar">
        <img class="logo" src="../static/image/logo-bitcoin.jpg" alt="logo" >
        <ul class="nav-links">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="signup.html">sign</a></li> -->
            <div class="dropdown">
                <button class="dropbtn">Register
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/">sign-up</a>
                    <a href="/login">sign-in</a>
                </div>
            </div>
        </ul>
    </nav>
    <header>
        
    </header>
    
    <main>
        <div class="heading">
            <u><h1>Team Information</h1></u>
            </div>
            <div class="gallery">
                <div class="content">
                    <img src="../static/image/av1.jpg" alt="">
                    <h3>Ali Shahmeer</h3>
                    <p class="title">CEO &amp; Developer</p>
                    <p>It takes Hour and Hour to built.</p>
                    <p>areo5459@gmail.com</p>
                    <button class="buy-1">Contact</button>
                </div>
            
                <div class="content">
                    <img src="../static/image/av1.jpg" alt="">
                    <h3>Wahaj Ali</h3>
                    <p class="title">MD &amp; Scheme Designer</p>
                    <p>Without color scheme you will see website from 1980's.</p>
                    <p>wahajali@gmail.com</p>
                    <button class="buy-2">Contact</button>
                </div>
            </div>
            <div class="gallery">
                <div class="content">
                    <img src="../static/image/av1.jpg" alt="">
                    <h2>Shaheer Ahmed</h2>
                        <p class="title">PD &amp; Prototyping Designer</p>
                        <p>I am the work force that test thousand of time before deploying.</p>
                        <p>Shaheer@gmail.com</p>
                    <button class="buy-3">Contact</button>
                </div>
                <div class="content">
                    <img src="../static/image/av1.jpg" alt="">
                    <h3>Muhammad Hamza</h3>
                    <p class="title">Art Director</p>
                    <p>Without art thing will be seen as color blind man.</p>
                    <p>hamza@gmail.com</p>
                    <button class="buy-2">Contact</button>
                </div>
            </div>
            <div class="gallery">
                <div class="content">
                    <img src="../static/image/av1.jpg" alt="">
                    <h3>Hasnain Ali</h3>
                    <p class="title">Art Director</p>
                    <p class="title">Designer</p>
                    <p>Without generating idea nothing can be done.</p>
                    <p>hassan@gmail.com</p>
                    <button class="buy-2">Contact</button>
                </div>
            </div>
    </main>
    <footer>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>© | Project | All Right Reserved | ®</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>