<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/trending.css">
    <title>Treanding Page</title>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar">
        <img class="logo" src="../static/image/logo-bitcoin.jpg" alt="logo" >
        <ul class="nav-links">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="signup.html">sign</a></li> -->
            <div class="dropdown">
                <button class="dropbtn">Register
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/signup">sign-up</a>
                    <a href="/login">sign-in</a>
                </div>
            </div>
        </ul>
    </nav>
    <div class="heading">
        <br>
        <br>
        <br>
        <br>
        <u><h1>Casual Class</h1></u>
    </div>
    <div class="gallery">
        <div class="content">
            <img src="../static/image/1.png" alt="">
            <h3>Cosmograph Daytona</h3>
            <h6>6000$</h6>
            <button class="buy-1">Buy Now</button>
        </div>
    
        <div class="content">
            <img src="../static/image/2.png" alt="">
            <h3>Rolex GMT-Master II</h3>
            <h6>4500$</h6>
            <button class="buy-2">Buy Now</button>
        </div>
    
        <div class="content">
            <img src="../static/image/3.png" alt="">
            <h3>Rolex Explorer</h3>
            <h6>2000$</h6>
            <button class="buy-3">Buy Now</button>
        </div>

        
    </div>

    <div class="heading">
        <u><h1>Premium Class</h1></u>
    </div>
    <div class="gallery">
        <div class="content">
            <img src="../static/image/4.png" alt="">
            <h3>Rolex Yacht-Master 40</h3>
            <h6>1500$</h6>
            <button class="buy-4">Buy Now</button>
        </div>
    
        <div class="content">
            <img src="../static/image/5.png" alt="">
            <h3>Rolex Sky-Dweller</h3>
            <h6>1000$</h6>
            <button class="buy-5">Buy Now</button>
        </div>
        
        <div class="content">
            <img src="../static/image/6.png" alt="">
            <h3>Rolex Milgauss</h3>
            <h6>8000$</h6>
            <button class="buy-6">Buy Now</button>
        </div>
    </div>
    <div class="heading">
        <u><h1>Sports Class</h1></u>
    </div>
    <div class="gallery">
        <div class="content">
            <img src="../static/image/2.png" alt="">
            <h3>Rolex Yacht-Master 70</h3>
            <h6>1500$</h6>
            <button class="buy-7">Buy Now</button>
        </div>
    
        <div class="content">
            <img src="../static/image/5.png" alt="">
            <h3>Rolex Sky-Dweller</h3>
            <h6>1000$</h6>
            <button class="buy-8">Buy Now</button>
        </div>
        
        <div class="content">
            <img src="../static/image/1.png" alt="">
            <h3>Rolex Milgauss</h3>
            <h6>8000$</h6>
            <button class="buy-9">Buy Now</button>
        </div>
    </div>
    <main>
        
    </main>
    <footer>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>© | Project | All Right Reserved | ®</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
</body>
</html>